{% extends "base.html" %}
{% block title %}Projects - Gajendra Kumar Sahu{% endblock %}
{% block content %}
<h2 class="text-center mb-5">My Projects</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100 shadow-sm">
            {% load static %}
            <img src="{% static 'images/commercium.png' %}" class="card-img-top" alt="Python Django Project">
            <div class="card-body">
                <h5 class="card-title">Commercium (Django & React)</h5>
                <p class="card-text">A multichannel eCommerce platform that automates listings, inventory sync, order & shipment management.</p>
                <a href="https://constacloud.com/commercium/" class="btn btn-primary" target="_blank">View Project</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
            {% load static %}
            <img src="{% static 'images/esb.png' %}" class="card-img-top" alt="Laravel Project">
            <div class="card-body">
                <h5 class="card-title">Apiworx (Laravel)</h5>
                <p class="card-text">Powerful integration platform for automating eCommerce back-office operations, built for scale and performance.</p>
                <a href="https://apiworx.com/" class="btn btn-primary" target="_blank">View Project</a>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card h-100 shadow-sm">
            {% load static %}
            <img src="{% static 'images/disconnect.png' %}" class="card-img-top" alt="PHP CMS Project">
            <div class="card-body">
                <h5 class="card-title">Disconnect (Laravel)</h5>
                <p class="card-text">Complete Inventory & Order Management For
                    Discogs Sellers</p>
                <a href="https://constacloud.com/disconnect/" class="btn btn-primary" target="_blank">View Project</a>
            </div>
        </div>
    </div>

  

  



</div>

<p class="text-center mt-5">More projects and GitHub links coming soon!</p>
{% endblock %}